body {
	background-color: #eaeaea;
}

.vertSpace-1 {
	height: 15px;
	display: block;
}

.vertSpace-2 {
	height: 30px;
	display: block;
}

.vertSpace-3 {
	height: 45px;
	display: block;
}

.vertSpace-4 {
	height: 60px;
	display: block;
}

.vertSpace-5 {
	height: 75px;
	display: block;
}

.vertSpace-6 {
	height: 90px;
	display: block;
}

.three-quarters-width {
	width: 75%;
	display: inline-block;
}

.half-width {
	width: 50%;
	display: inline-block;
}

.quarter-width {
	width: 25%;
	display: inline-block;
}

.eighth-width {
	width: 12.5%;
	display: inline-block;
}